body {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  position: fixed;
}

button {
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 60px;
  background-color: wheat;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 300ms ease-in;
  border: solid black;
}

button:hover {
  transform: scale(1.1);
}

.overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(20, 20, 20, 0.8);
  z-index: 2;
  text-align: center;
}

.logo {
  margin: auto;
}

.logo img {
  width: 900px;
  height: auto;
  position: relative;
  margin-top: 50px;
}

.logo img.odlaw {
  width: 400px;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: transform 600ms ease-in-out;
}
.logo img.odlaw:hover {
  transform: rotate(-10deg) scale(0.5);
}

.start__box {
  width: 400px;
  height: 300px;
  margin: auto;
}

.start__box .start__game {
  color: white;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

.big-wally {
  width: 300px;
  height: 100%;
  left: 50%;
  display: none;
}

.big-wally.active {
  width: 300px;
  height: 100%;
  left: 50%;
  display: block;
  transform: translateY(20px);
  transition: all 500ms ease-in;
}

.try-again {
  display: none;
}

.try-again.active {
  display: block;
}

.timer {
  position: absolute;
  right: 10px;
  width: 100px;
  height: 50px;
  font-size: 26px;
  line-height: 50px;
  text-align: center;
  margin: 10px;
  background-color: white;
  border-radius: 24px;
  border: 5px solid black;
}

.pop-up {
  display: block;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 40%;
  padding: 20px;
  width: 400px;
  height: 140px;
  font-size: 40px;
  background-color: rgb(3, 3, 3, 0.7);
  color: white;
  border-radius: 5px;
  visibility: hidden;
}

.replay {
  position: relative;
  margin: auto;
  display: none;
}
.next {
  position: relative;
  margin: auto;
  display: none;
}

.pop-up__text {
  display: block;
  margin-top: 15px;
}

.theEnd {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(20, 20, 20, 0.8);
  color: white;
  z-index: 2;
  text-align: center;
  visibility: hidden;
}

.theEnd__wally img {
  position: absolute;
  width: 40%;
  height: auto;
  right: 0;
}

.finish__box {
  width: 400px;
  height: 300px;
  margin: auto;
  font-size: 48px;
  transform: translate(-40%, 20%);
}

.reload {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  background-color: wheat;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  border: 3px solid rgb(36, 31, 31);
  border-radius: 12px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
